.alert {
  display:flex;
  align-items:center;
  gap:.75rem;

  padding:.5rem .75rem;

  background-color:var(--danger);
  color:var(--always-white);
  border-radius:12px;

  & span {
    flex:1 1 auto;
  }
}
